body {
    font-family: 'Verdana';
}
#menus{
    background-color: rgb(49, 49, 49);
    padding: 10px;
    text-align: center;
}

#menus a {
    color:rgb(208, 219, 221);
    text-decoration:dashed;
    display :inline-block;
    background-color: rgb(212, 69, 34);
    padding: 2px;
    width:80px;
    text-align: center;
    border: 2px solid rgb(123, 119, 120);
    border-radius: 3px;
}
#title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}